In [70]:
library(tidyverse);
library(readxl);

## 1.2	Importation et mise en forme

 *   Importer la base de données dans un objet de type data.frame nommé projet

In [59]:
projet <- read_excel("../data/Base_Projet.xlsx")

In [60]:
head(projet,2) # Petite aperçu de la base de donnée

  key                                       q1       q2     q23   q24 q24a_1
1 uuid:68bff42b-1228-4c66-9bcc-e6d312d9fea6 Diourbel Bambey Femme 65  0
2 uuid:d70b3c7e-3ca0-4358-bc59-3f7f6baf55e9 Thiès    Mbour  Femme 52  1
  q24a_2 q24a_3 q24a_4 q24a_5 ⋯ filiere_2 filiere_3 filiere_4
1 1      0      1      0      ⋯ 0         0         0
2 1      0      0      1      ⋯ 0         1         0
  q8                              q81          gps_menlatitude gps_menlongitude
1 Aucun                           Propriétaire 14.62691        -16.46786
2 Tansformation d'autres céréales Propriétaire 14.39973        -16.95614
  submissiondate      start               today
1 2021-06-14 20:04:38 2021-06-14 15:38:19 2021-06-14
2 2021-06-07 21:58:11 2021-06-03 19:55:41 2021-06-03

* Donner le nombre de lignes (i.e. le nombre de PME) et colonnes (i.e. nombre de variables) de la base
projet

In [61]:
paste0("Nombre de ligne  de la base : ",nrow(projet))

[1] "Nombre de ligne  de la base : 250"

In [62]:
paste0("Nombre de colonne de la base : ",ncol(projet))

[1] "Nombre de colonne de la base : 33"

* Vérifier s’il y a des valeurs manquantes pour la variable key dans la base projet. Si oui, identifier la (ou les) PME concernée(s).

In [63]:
any(is.na(projet$key)) # y a t-il au moins une valeur manquante ?

[1] FALSE

In [64]:
# Pas de valeur manquantes dans la variable key

## 1.3	Création de variables (2.5 pts)

* Rénommer la variable q1 en region
* Rénommer la variable q2 en departement
* Rénommer la variable q23 en sexe

In [65]:
projet<-projet%>%rename(region=q1,departement=q2,sexe=q23)

In [66]:
head(projet,1)

  key                                       region   departement sexe  q24
1 uuid:68bff42b-1228-4c66-9bcc-e6d312d9fea6 Diourbel Bambey      Femme 65
  q24a_1 q24a_2 q24a_3 q24a_4 q24a_5 ⋯ filiere_2 filiere_3 filiere_4 q8
1 0      1      0      1      0      ⋯ 0         0         0         Aucun
  q81          gps_menlatitude gps_menlongitude submissiondate
1 Propriétaire 14.62691        -16.46786        2021-06-14 20:04:38
  start               today
1 2021-06-14 15:38:19 2021-06-14

 * Créer la variable sexe_2 qui vaut 1 si sexe égale à Femme et 0 sinon

In [67]:
class(projet$sexe)  # Un string, donc la casse interviens

[1] "character"

In [75]:
projet<-projet%>%mutate(sexe_2=as.integer(tolower(sexe)=="femme"))
# tolower pour normaliser la casse
# on se sert de l'egalite TRUE==1 pour la conversion en integer

In [74]:
describe(projet$sexe_2)

[250 obs.]
integer: 1 1 1 1 0 1 1 0 1 0 ...
min: 0 - max: 1 - NAs: 0 (0%) - 2 unique values

        n     %
0      59  23.6
1     191  76.4
Total 250 100.0

* Créer un data.frame nommé langues qui prend les variables key et les variables correspondantes décrites plus haut.

In [77]:
# Regardons la maniere dont est ordonne nos variables
names(projet)

 [1] "key"              "region"           "departement"      "sexe"
 [5] "q24"              "q24a_1"           "q24a_2"           "q24a_3"
 [9] "q24a_4"           "q24a_5"           "q24a_6"           "q24a_7"
[13] "q24a_9"           "q24a_10"          "q25"              "q26"
[17] "q12"              "q14b"             "q16"              "q17"
[21] "q19"              "q20"              "filiere_1"        "filiere_2"
[25] "filiere_3"        "filiere_4"        "q8"               "q81"
[29] "gps_menlatitude"  "gps_menlongitude" "submissiondate"   "start"
[33] "today"            "sexe_2"

In [79]:
# On peut se servir de l'ordre avec q24a_1:q24a_10
# ou alors on peut aussi se servir du fait que ce sont les seuls a commencer par q24a_

In [81]:
langues<- data.frame(
    key=projet$key,

ERROR: Error in parse(text = x, srcfile = src): <text>:2:0: fin d'entrée inattendue
1: langues<- data.frame(
   ^