In [1]:
library(tidyverse);
library(readxl)
library(questionr) # pour la fonction describe()

Warning message:
"le package 'tidyverse' a été compilé avec la version R 4.3.3"
Warning message:
"le package 'forcats' a été compilé avec la version R 4.3.3"
Warning message:
"le package 'lubridate' a été compilé avec la version R 4.3.3"
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.0     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

## 1.2	Importation et mise en forme

 *   Importer la base de données dans un objet de type data.frame nommé projet

In [2]:
projet <- read_excel("../data/Base_Projet.xlsx")

In [3]:
head(projet,2) # Petite aperçu de la base de donnée

  key                                       q1       q2     q23   q24 q24a_1
1 uuid:68bff42b-1228-4c66-9bcc-e6d312d9fea6 Diourbel Bambey Femme 65  0
2 uuid:d70b3c7e-3ca0-4358-bc59-3f7f6baf55e9 Thiès    Mbour  Femme 52  1
  q24a_2 q24a_3 q24a_4 q24a_5 ⋯ filiere_2 filiere_3 filiere_4
1 1      0      1      0      ⋯ 0         0         0
2 1      0      0      1      ⋯ 0         1         0
  q8                              q81          gps_menlatitude gps_menlongitude
1 Aucun                           Propriétaire 14.62691        -16.46786
2 Tansformation d'autres céréales Propriétaire 14.39973        -16.95614
  submissiondate      start               today
1 2021-06-14 20:04:38 2021-06-14 15:38:19 2021-06-14
2 2021-06-07 21:58:11 2021-06-03 19:55:41 2021-06-03

* Donner le nombre de lignes (i.e. le nombre de PME) et colonnes (i.e. nombre de variables) de la base
projet

In [4]:
paste0("Nombre de ligne  de la base : ",nrow(projet))

[1] "Nombre de ligne  de la base : 250"

In [5]:
paste0("Nombre de colonne de la base : ",ncol(projet))

[1] "Nombre de colonne de la base : 33"

* Vérifier s’il y a des valeurs manquantes pour la variable key dans la base projet. Si oui, identifier la (ou les) PME concernée(s).

In [6]:
any(is.na(projet$key)) # y a t-il au moins une valeur manquante ?

[1] FALSE

In [7]:
# Pas de valeur manquantes dans la variable key

## 1.3	Création de variables (2.5 pts)

* Rénommer la variable q1 en region
* Rénommer la variable q2 en departement
* Rénommer la variable q23 en sexe

In [8]:
projet<-projet%>%rename(region=q1,departement=q2,sexe=q23)

In [9]:
head(projet,1)

  key                                       region   departement sexe  q24
1 uuid:68bff42b-1228-4c66-9bcc-e6d312d9fea6 Diourbel Bambey      Femme 65
  q24a_1 q24a_2 q24a_3 q24a_4 q24a_5 ⋯ filiere_2 filiere_3 filiere_4 q8
1 0      1      0      1      0      ⋯ 0         0         0         Aucun
  q81          gps_menlatitude gps_menlongitude submissiondate
1 Propriétaire 14.62691        -16.46786        2021-06-14 20:04:38
  start               today
1 2021-06-14 15:38:19 2021-06-14

 * Créer la variable sexe_2 qui vaut 1 si sexe égale à Femme et 0 sinon

In [10]:
class(projet$sexe)  # Un string, donc la casse interviens

[1] "character"

In [11]:
projet<-projet%>%mutate(sexe_2=as.integer(tolower(sexe)=="femme"))
# tolower pour normaliser la casse
# on se sert de l'egalite TRUE==1 pour la conversion en integer

In [12]:
describe(projet$sexe_2)

[250 obs.]
integer: 1 1 1 1 0 1 1 0 1 0 ...
min: 0 - max: 1 - NAs: 0 (0%) - 2 unique values

        n     %
0      59  23.6
1     191  76.4
Total 250 100.0

* Créer un data.frame nommé langues qui prend les variables key et les variables correspondantes décrites plus haut.

In [13]:
# Regardons la maniere dont est ordonne nos variables
names(projet)

 [1] "key"              "region"           "departement"      "sexe"
 [5] "q24"              "q24a_1"           "q24a_2"           "q24a_3"
 [9] "q24a_4"           "q24a_5"           "q24a_6"           "q24a_7"
[13] "q24a_9"           "q24a_10"          "q25"              "q26"
[17] "q12"              "q14b"             "q16"              "q17"
[21] "q19"              "q20"              "filiere_1"        "filiere_2"
[25] "filiere_3"        "filiere_4"        "q8"               "q81"
[29] "gps_menlatitude"  "gps_menlongitude" "submissiondate"   "start"
[33] "today"            "sexe_2"

In [14]:
# On peut se servir de l'ordre avec q24a_1:q24a_10
# ou alors on peut aussi se servir du fait que ce sont les seuls a commencer par q24a_

In [15]:
langues<- projet%>%select(key,starts_with("q24a_"))%>%
    as.data.frame()
    # les fonctions de dplyr genere des objet de type tibble convertible en data.frane

In [16]:
head(langues,1)

  key                                       q24a_1 q24a_2 q24a_3 q24a_4 q24a_5
1 uuid:68bff42b-1228-4c66-9bcc-e6d312d9fea6 0      1      0      1      0
  q24a_6 q24a_7 q24a_9 q24a_10
1 0      0      0      0

* Créer une variable parle qui est égale au nombre de langue parlée par le dirigeant de la PME.

In [17]:
langue_parle_PME<-langues%>%
    select(-key)# on selectionne uniquement les variables ayant trait a la langue

In [18]:
langues <-langues%>%
    mutate(parle=rowSums(langue_parle_PME) )# a chaque individus on somme les lignes de la variable langue_parle_PME

In [19]:
head(langues$parle)

[1] 2 3 2 3 4 3

* Sélectionnez uniquement les variables key et parle, l’objet de retour sera langues

In [20]:
langues <-langues%>% 
    select(key,parle)

In [21]:
head(langues,1)

  key                                       parle
1 uuid:68bff42b-1228-4c66-9bcc-e6d312d9fea6 2

* Merger les data.frame projet et langues:

In [22]:
# Les deux data.frames ont la colonne key en commun, on vas maj projet
projet<- merge(projet,langues,by="key")

In [23]:
head(projet[,c("key","parle")],2) # Le merge a fonctionne avec succes

  key                                       parle
1 uuid:004b9117-d180-4031-a6af-6b4efabb5f53 1
2 uuid:007d8eb4-45eb-44f4-aeac-722adc60aec8 2

## 2 Analyses descriptives (10 pts)

 * Quelle est la répartion des PME suivant:
    * le sexe?
    * le niveau d’instruction?
    * le statut juridique?
    * le propriétaire/locataire?
    * le statut juridique et le sexe?
    * le niveau d’instruction et le sexe?
    * Propriétaire/locataire suivant le sexe?

In [24]:
#-------- Repartition des PME suivant le sexe

In [25]:
#  Repartition des PME suivant le sexe
# ---------- ligne des effectifs
tab_effectif <- table(projet$sexe) # Calcul des effectifs
tab_effectif <- rbind(tab_effectif ) # Permet de generer un tableau avec des lignes nommee 
rownames(tab_effectif)[1] <- "Effectifs" # modificiation du nom de la ligne
# ---------- ligne des pourcentages
tab_effectif_percent <- prop.table(tab_effectif) * 100 # calcul des pourcentages
rownames(tab_effectif_percent)<-"Pourcentage" # pas bessoin de rbin on travail deja un tab a ligne nommme (tab_effectif)
# ---------- ligne des valeurs manquantes
tab_sexe <- rbind(tab_effectif, "Valeurs manquantes" = sum(is.na(projet$sexe)))# ajout de la ligne NA
# ---------- tableau repartition des PME suivant le sexe
tab_sexe<-rbind(tab_sexe,tab_effectif_percent)
tab_sexe

                   Femme Homme
Effectifs          191.0 59.0
Valeurs manquantes   0.0  0.0
Pourcentage         76.4 23.6

In [26]:
# intervertissons les lignes "Valeurs manquantes" et "Pourcentages" 
# -------- tab_sexe est une matrice donc pas de slice()
tab_sexe<-tab_sexe[c("Effectifs","Pourcentage","Valeurs manquantes"),]
tab_sexe

                   Femme Homme
Effectifs          191.0 59.0
Pourcentage         76.4 23.6
Valeurs manquantes   0.0  0.0

In [27]:
# maintenant nous allons cree une fonction pour automatiser le processus.
# La nouveaute ici c'est que projet$var ne marche pas car var n'est pas en soi une colonne. solution: projet[[var]]

repartition<-function (var,projet_=projet) {# je me laisse la possibilite de modifier projet avant de l'appel de repartition() 
     # ---------- ligne des effectifs
    tab_effectif <- table(projet_[[var]]) # Calcul des effectifs
    tab_effectif <- rbind(tab_effectif ) # Permet de generer un tableau avec des lignes nommee 
    rownames(tab_effectif)[1] <- "Effectifs" # modificiation du nom de la ligne
    # ---------- ligne des pourcentages
    tab_effectif_percent <- prop.table(tab_effectif) * 100 # calcul des pourcentages
    rownames(tab_effectif_percent)<-"Pourcentage" # pas bessoin de rbind on travail deja un tab a ligne nommme (tab_effectif)
    # ---------- ligne des valeurs manquantes
   tab_var <- rbind(tab_effectif, "Valeurs manquantes" = sum(is.na(projet_[[var]])))# ajout de la ligne NA
    # ---------- tableau repartition des PME suivant le sexe
    tab_var<-rbind(tab_var,tab_effectif_percent)
    # intervertissons les lignes "Valeurs manquantes" et "Pourcentages" 
    # -------- tab_var est une matrice donc pas de slice()
    tab_var<-tab_var[c("Effectifs","Pourcentage","Valeurs manquantes"),]
    tab_var<- as.data.frame(tab_var) # conversion en data.frame pour l'elegence du rendu
    # print(tab_var) est moche et tab_var ne marche pas dans la declaration de la fonction donc pas d'affichage ici
    return(tab_var)
  
}

In [28]:
#-------- Repartition des PME suivant le niveau d'instruction

In [29]:
repartition("q25")

                   Aucun niveau Niveau primaire Niveau secondaire
Effectifs          79.0         56.0            74.0
Pourcentage        31.6         22.4            29.6
Valeurs manquantes  0.0          0.0             0.0
                   Niveau Superieur
Effectifs          41.0
Pourcentage        16.4
Valeurs manquantes  0.0

In [30]:
#-------- Repartition des PME suivant le statu juridique

In [31]:
repartition("q12")

                   Association GIE   Informel SA  SARL SUARL
Effectifs          6.0         179.0 38.0     7.0 13.0 7.0
Pourcentage        2.4          71.6 15.2     2.8  5.2 2.8
Valeurs manquantes 0.0           0.0  0.0     0.0  0.0 0.0

In [32]:
#-------- Repartition des PME suivant le statu <<proprietaire ou locataire>>

In [33]:
repartition("q81")

                   Locataire Propriétaire
Effectifs          24.0      226.0
Pourcentage         9.6       90.4
Valeurs manquantes  0.0        0.0

In [34]:
#-------- repartition des PME suivant le statu juridique et le sexe

In [35]:
# on cree une nouvelle variable en <<collant>> pour chaque PME<< sexe et statu juridique >>
projet_tmp<-projet%>%
    mutate(var_tmp=paste(sexe,q12,sep=" et "))

In [36]:
repartition("var_tmp",projet_=projet_tmp)

                   Femme et Association Femme et GIE Femme et Informel
Effectifs          3.0                  149.0        32.0
Pourcentage        1.2                   59.6        12.8
Valeurs manquantes 0.0                    0.0         0.0
                   Femme et SA Femme et SARL Femme et SUARL
Effectifs          1.0         2.0           4.0
Pourcentage        0.4         0.8           1.6
Valeurs manquantes 0.0         0.0           0.0
                   Homme et Association Homme et GIE Homme et Informel
Effectifs          3.0                  30           6.0
Pourcentage        1.2                  12           2.4
Valeurs manquantes 0.0                   0           0.0
                   Homme et SA Homme et SARL Homme et SUARL
Effectifs          6.0         11.0          3.0
Pourcentage        2.4          4.4          1.2
Valeurs manquantes 0.0          0.0          0.0

In [37]:
#-------- repartition des PME suivant le niveau d'instruction et le sexe

In [38]:
# analogue au precedent

In [39]:
projet_tmp<-projet%>%
    mutate(var_tmp=paste(q25,q12,sep=" et "))

In [40]:
repartition("var_tmp",projet_=projet_tmp)

                   Aucun niveau et Association Aucun niveau et GIE
Effectifs          1.0                         47.0
Pourcentage        0.4                         18.8
Valeurs manquantes 0.0                          0.0
                   Aucun niveau et Informel Aucun niveau et SA
Effectifs          27.0                     1.0
Pourcentage        10.8                     0.4
Valeurs manquantes  0.0                     0.0
                   Aucun niveau et SARL Niveau primaire et Association
Effectifs          3.0                  1.0
Pourcentage        1.2                  0.4
Valeurs manquantes 0.0                  0.0
                   Niveau primaire et GIE Niveau primaire et Informel
Effectifs          47.0                   5
Pourcentage        18.8                   2
Valeurs manquantes  0.0                   0
                   Niveau primaire et SARL Niveau primaire et SUARL
Effectifs          1.0                     2.0
Pourcentage        0.4                     0.8
Valeurs manquantes 0.0                     0.0
                   Niveau secondaire et Association Niveau secondaire et GIE
Effectifs          2.0                              64.0
Pourcentage        0.8                              25.6
Valeurs manquantes 0.0                               0.0
                   Niveau secondaire et Informel Niveau secondaire et SARL
Effectifs          6.0                           2.0
Pourcentage        2.4                           0.8
Valeurs manquantes 0.0                           0.0
                   Niveau Superieur et Association Niveau Superieur et GIE
Effectifs          2.0                             21.0
Pourcentage        0.8                              8.4
Valeurs manquantes 0.0                              0.0
                   Niveau Superieur et SA Niveau Superieur et SARL
Effectifs          6.0                    7.0
Pourcentage        2.4                    2.8
Valeurs manquantes 0.0                    0.0
                   Niveau Superieur et SUARL
Effectifs          5
Pourcentage        2
Valeurs manquantes 0

In [41]:
# -------- repartition des PME suivant le statu <<proprietaire/locataire>> et le sexe

In [42]:
# Les trois questions ci haut sont analogue,une boucle for semble faire l'affaire mais les tableau generer sont moche et print() n'aide pas

In [43]:
projet_tmp<-projet%>%
    mutate(var_tmp=paste(q81,q12,sep=" et "))

In [44]:
repartition("var_tmp",projet_=projet_tmp)

                   Locataire et GIE Locataire et SA Locataire et SARL
Effectifs          17.0             1.0             3.0
Pourcentage         6.8             0.4             1.2
Valeurs manquantes  0.0             0.0             0.0
                   Locataire et SUARL Propriétaire et Association
Effectifs          3.0                6.0
Pourcentage        1.2                2.4
Valeurs manquantes 0.0                0.0
                   Propriétaire et GIE Propriétaire et Informel
Effectifs          162.0               38.0
Pourcentage         64.8               15.2
Valeurs manquantes   0.0                0.0
                   Propriétaire et SA Propriétaire et SARL
Effectifs          6.0                10
Pourcentage        2.4                 4
Valeurs manquantes 0.0                 0
                   Propriétaire et SUARL
Effectifs          4.0
Pourcentage        1.6
Valeurs manquantes 0.0

## Faite les statistiques descriptives de votre choix sur les autres variables

In [ ]:
univarie<-function(var,projet_=projet){